
frontend/circular_progress_bar.cpp
frontend/circular_progress_bar.cpp
frontend/circular_progress_bar.h
frontend/normal.cpp
frontend/normal.h
frontend/normal.ui
frontend/normal.ui
frontend/normal.h
frontend/normal.cpp
*.o
build-frontend-Desktop_Qt_5_15_2_MinGW_32_bit-Debug/.qmake.stash
build-frontend-Desktop_Qt_5_15_2_MinGW_32_bit-Debug/debug/frontend.exe
build-frontend-Desktop_Qt_5_15_2_MinGW_32_bit-Debug/debug/moc_batteryprogressbarnormal.cpp
build-frontend-Desktop_Qt_5_15_2_MinGW_32_bit-Debug/debug/moc_normalmode.cpp
build-frontend-Desktop_Qt_5_15_2_MinGW_32_bit-Debug/debug/moc_powerprogressbarnormal.cpp
build-frontend-Desktop_Qt_5_15_2_MinGW_32_bit-Debug/debug/moc_predefs.h
build-frontend-Desktop_Qt_5_15_2_MinGW_32_bit-Debug/debug/moc_speedprogressbarnormal.cpp
build-frontend-Desktop_Qt_5_15_2_MinGW_32_bit-Debug/Makefile
build-frontend-Desktop_Qt_5_15_2_MinGW_32_bit-Debug/Makefile.Debug
build-frontend-Desktop_Qt_5_15_2_MinGW_32_bit-Debug/Makefile.Release
build-frontend-Desktop_Qt_5_15_2_MinGW_32_bit-Debug/ui_normalmode.h
build-frontend-Desktop_Qt_5_15_2_MinGW_32_bit-Debug/userskamilappdatalocaltemptmp_6aeee
build-frontend-Desktop_Qt_5_15_2_MinGW_32_bit-Debug/debug/qrc_normal.cpp
build-frontend-Desktop_Qt_5_15_2_MinGW_32_bit-Debug/object_script.frontend.Debug
build-frontend-Desktop_Qt_5_15_2_MinGW_32_bit-Debug/object_script.frontend.Release
frontend/frontend.pro.user
build-frontend-Desktop_Qt_5_15_2_MinGW_32_bit-Debug/userskamilappdatalocaltemptmpsuiwch
build-frontend-Desktop_Qt_5_15_2_MinGW_32_bit-Debug/ui_sportmode.h
build-frontend-Desktop_Qt_5_15_2_MinGW_32_bit-Debug/debug/qrc_sport.cpp
build-frontend-Desktop_Qt_5_15_2_MinGW_32_bit-Debug/debug/moc_sportmode.cpp
build-frontend-Desktop_Qt_5_15_2_MinGW_32_bit-Debug/debug/moc_powerprogressbarsport.cpp
build-frontend-Desktop_Qt_5_15_2_MinGW_32_bit-Debug/debug/moc_dashboard.cpp
build-frontend-Desktop_Qt_5_15_2_MinGW_32_bit-Debug/userskamilappdatalocaltemptmp3rnl0j
*.idx
*.stash
*.Release
*.Debug
build-frontend-Desktop_Qt_5_15_2_MinGW_64_bit-Release/Makefile
*.exe
build-frontend-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userskkaliw~1appdatalocaltemptmpsldumn
build-frontend-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userskkaliw~1appdatalocaltemptmpqopmff
*.json
build-frontend-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/ui_sportmode.h
build-frontend-Desktop_Qt_5_15_2_MinGW_64_bit-Profile/release/moc_batteryprogressbarnormal.cpp
build-frontend-Desktop_Qt_5_15_2_MinGW_64_bit-Profile/release/moc_normalmode.cpp
build-frontend-Desktop_Qt_5_15_2_MinGW_64_bit-Profile/release/moc_speedprogressbarnormal.cpp
build-frontend-Desktop_Qt_5_15_2_MinGW_64_bit-Profile/release/qrc_normal.cpp
build-frontend-Desktop_Qt_5_15_2_MinGW_64_bit-Release/release/moc_batteryprogressbarnormal.cpp
build-frontend-Desktop_Qt_5_15_2_MinGW_64_bit-Release/release/moc_powerprogressbarsport.cpp
build-frontend-Desktop_Qt_5_15_2_MinGW_64_bit-Release/release/moc_predefs.h
build-frontend-Desktop_Qt_5_15_2_MinGW_64_bit-Release/release/moc_sportmode.cpp
build-frontend-Desktop_Qt_5_15_2_MinGW_64_bit-Release/ui_sportmode.h
build-frontend-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_batteryprogressbarnormal.cpp
build-frontend-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_connection.cpp
build-frontend-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_dashboard.cpp
build-frontend-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_normalmode.cpp
build-frontend-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_powerprogressbarnormal.cpp
build-frontend-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_powerprogressbarsport.cpp
build-frontend-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_predefs.h
build-frontend-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_speedprogressbarnormal.cpp
build-frontend-Desktop_Qt_5_15_2_MinGW_64_bit-Debug
build-frontend-Desktop_Qt_5_15_2_MinGW_64_bit-Release
build-frontend-Desktop_Qt_5_15_2_MinGW_64_bit-Profile
